@{
    ViewData["Title"] = "Página Restrita";
    Layout = "_LayoutDeslogada";
} 

<p>Você não possui permissão para acessar essa página. <a asp-action="Index" asp-controller="Home">Voltar para Home</a></p>