@model Botao

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sistema de controle de contatos</p>
    <div>
        <button onclick="handleSub()">-</button>
        <span id="count-value">0</span>
        <button onclick="handleAdd()">+</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}