@model ContatoModel
@{
    ViewData["Title"] = "Confirmação de exclusão de contato";
}

<section class="text-center">
    <div class="text-center">
        <h3>Tem certeza que deseja excluir o contato (@Model.Nome)?</h3>
    </div>
    <a class="btn-primary btn" role="button" asp-controller="Contato" asp-action="Index">Cancelar </a>
    <a class="btn-danger btn" role="button" asp-route-id="@Model.Id" asp-controller="Contato" asp-action="ApagarConfirma">Excluir </a>
</section>